/* No CSS reset, not really worth it for so few elements/styles */

/** Body + typography */

body {
    margin: 0 auto;
    font: medium/1.3 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #999;
    background-position: center center;
    background-repeat: repeat;
    color: #FFF;
}

h1 {
    margin: 0;
    font-size: 6em;
}

header {
    text-align: left;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 1em 2.5em;
    margin-bottom: 2em;
}

.colophon {
    color: #555;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0;
    display: block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    text-align: right;
    float: right;
    padding-left: 5px;
}

header a {
    color: #555;
    text-decoration: none;
}

header .colophon a { 
    float: none;
}

header a:hover {
    text-decoration: underline;
}
footer a {
    color: #bababa;
}

/** Artist + Track */

h1 {

}

#artist,#track {
    display: inline-block;
    margin: .05em 0;
    padding: .2em .5em;
    border-radius: 2px;
    background: #000;
    opacity: 0.8; 
}

#track {

}

h1 .separator, h1 #track {
    font-weight: normal;
}

#artwork {
    background:center right no-repeat;
}
#artwork a {
    color: #FFF;
    text-decoration: none;
}
#artwork  a:hover{
    text-decoration: underline;
}
